.filter-options {
  flex-direction: row;
}
#restaurants-list li {
  width: 270px;
}
#restaurant-container {
  width: 50%;
  display: block;
}

#reviews-container, #new-review {
  padding: 30px 40px 80px;
}
